body{
font-family: Verdana;
color: white;
background-color: black;
text-align: center;
}
h1{
  font-size: 50px;
  font-weight: normal;
}
.image h2{
  font-size: 42px;
  font-weight: 300;
}
.image h3{
  font-size: 21px;
}
.video a,.cellphone a{
  color: aquamarine;
}

.gray{
  color: gray;
}
.copyright{
  text-align:right;
}
